*{
    font-family: Arial, Helvetica, sans-serif
}

a{
    color: red;
}

a:hover{
    color: green;
}

h1 + p{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.destaque{
    font-family: Arial, Helvetica, sans-serif;
}

p.destaque{
    font-weight: bold;
}

strong.destaque{
    color: red;
}