/* Color Theme Swatches in Hex */
.Arquitetura-1-hex { color: #A69151; }
.Arquitetura-2-hex { color: #736C5F; }
.Arquitetura-3-hex { color: #401E12; }
.Arquitetura-4-hex { color: #733B27; }
.Arquitetura-5-hex { color: #260801; }

/* Color Theme Swatches in RGBA */
.Arquitetura-1-rgba { color: rgba(165, 144, 81, 1); }
.Arquitetura-2-rgba { color: rgba(114, 107, 95, 1); }
.Arquitetura-3-rgba { color: rgba(63, 30, 17, 1); }
.Arquitetura-4-rgba { color: rgba(114, 59, 39, 1); }
.Arquitetura-5-rgba { color: rgba(38, 7, 0, 1); }

/* Color Theme Swatches in HSLA */
.Arquitetura-1-hsla { color: hsla(45, 34, 48, 1); }
.Arquitetura-2-hsla { color: hsla(39, 9, 41, 1); }
.Arquitetura-3-hsla { color: hsla(16, 56, 16, 1); }
.Arquitetura-4-hsla { color: hsla(16, 49, 30, 1); }
.Arquitetura-5-hsla { color: hsla(11, 96, 7, 1); }

